h1,h3{
    text-align:center;
}

div#principal{
    margin-top:10px;
    margin:auto;
    width:1250px; 
    height:700px;
}

div#traza_ganado_principal{
    margin-top:10px;
    margin:auto;
    width:1000px; 
    height:700px;
}

div#map_principal{
    float:left;
    margin:auto;
    width:800px; 
    height:600px;
    border:2px solid green;
}

div#traza_busqueda{
    float: contour;
    margin:auto;
    margin-top: 120px;
    width:800px; 
    height:590px;
    border:2px solid green;
}

div#map{
    margin-top:10px;
    margin-left:10px;
    float:left;
    position:relative;
    width:775px;
    height:570px;
    border:2px solid;
}

div#map_descripcion{
    margin-top:10px;
    margin-left:10px;
    float:left;
    width:150px;
    height:570px;
    display:flex;
    justify-content:center;
    align-items:center;
}

div#alerta_principal{
    margin-left:10px;
    float:right;
    width:400px;
    height:600px;
    border:2px solid red;
}

div#alerta_real{
    margin-left:10px;
    width:380px;
    height:150px;
}

div#filtros{
    margin-top:50px;
    margin-left:100px;
    float:left;
    position:relative;
    width:1200px;
    border: 1px solid blue;
}

div#resultado{
    margin-top:50px;
    margin-left:100px;
    float:left;
    position:relative;
    width:1200px;
    border:1px solid blue;
}

img.lista_alerta{
    width: 20px; height: 20px;
}

.my-custom-scrollbar {
    position: relative;
    height: 550px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}